<%= @tweet.content %><br>

<a href="/tweets/<%=@tweet.id %>">Edit Your Tweet</a>

<form action="/tweets/<%= @tweet.id %>/delete"></form>
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Tweet">
</form>



<%# <p><a href="/logout">Log Out</a></p> %>
<%# 
 <a href="/logout"></a> 
<input type="submit" name="submit" id="submit" value="Log Out"> %>

<%# <button><a href="/" class="btn btn-lg btn-success btn-block">Return to Main Site</a></button>  %>