<h1>Welcome, <%=current_user.username%></h1>

<%@tweets.each do |tweet|%>
  <% if !tweet.content.empty? %>
    <%=tweet.content%>
  <% else %> No Content!
  <% end %>
<%end%> <br>

<br>

<a href="/tweets/new">Create Tweet</a><br>
<br>