<h2>LOG IN</h2>

<form method="POST" action="/login">

    <label>Username:<input type="text" id="username" name="username"></label>
    <br>
    <label>Password:<input type="password" id="password" name="password"></label>
    <br>
    <input type="submit" id="submit" value="Log In">

</form>