<h3>Log In</h3>
<form method='post' action='/login'>
    Enter Username: <input type='text' name='username'><br><br>
    Enter Password: <input type='text' name='password'><br><br>
    <input type='submit' id='submit' value='Log In'>
</form>