<h3>Sign Up</h3>
<form method='post' action='/signup'>
    Enter Email: <input type='text' name='email'><br><br>
    Create Username: <input type='text' name='username'><br><br>
    Create Password: <input type='text' name='password'><br><br>
    <input type='submit' id='submit' value='Sign Up'>
</form>