<h2>CREATE AN ACCOUNT</h2>

<form method="POST" action="/signup">

    <label>Enter a username:<input type="text" id="username" name="username"></label>
    <br>
    <label>Enter your email:<input type="text" id="email" name="email"></label>
    <br>
    <label>Enter a password:<input type="password" id="password" name="password"></label>
    <br>
    <input type="submit" id="submit" value="Create Account">

</form>