<%# <h1>Welcome to Fwitter</h1>

<p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.

<p><a href="/tweets/new">Create a New Tweet</a></p>
<p><a href="/logout">Log Out</a></p>

   %>
<h2>Welcome to Fwitter!</h2>

<nav>
  <% if logged_in? %>

    <a href="/tweets/new"> Create Tweet </a>
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.username %></p>

  <% else %>
    <p>Please signin or signup below:</p>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>